templates/*
toolbars/*
*~
*.cache
*.log
*.pid
tmp/**/*
tmp/*.txt
.DS_Store
doc/api
doc/app
doc/plugins
doc/*.dot
*.tmproj
.loadpath
.idea
*.bak
.directory
*.session
*.webprj
*.class
*.out
.metadata
*/.settings
*/.classpath
*/**/mocks/fixtures/*
*/build/
*/dist/
manifest.mf
*/nbproject/
*/build.xml
**/target
