# Backup files
*~
*.bak

# OS files
.DS_Store
.directory
*.session

# IDE files
.loadpath
.idea
.metadata
*/.settings
*/.classpath
target
.classpath
.project
.settings
.wtpmodules
/bin 

# Build files
*.class
*.out
*/build/
*/bin
manifest.mf
*/nbproject/
*/build.xml
**/target

# Project spcifics
*/core/**/fixtures/*
core/src/docbkx
*/sync/**/fixtures/*
